@import url('https://fonts.googleapis.com/css2?family=Gemunu+Libre:wght@200&display=swap');

body{
	font-family: 'Stick No Bills', sans-serif;
	background: linear-gradient(236.85deg, #BA31B2 27.26%,  #BF27B696.03%);
	background-image: url(https://media.discordapp.net/attachments/891802712038051874/892179212465762324/fundo2.png?width=894&height=408);
	background-size: cover;
	overflow: hidden;
	
}

.perfil-foto{
	border-radius: 30px;
	aspect-ratio: 3/5;
	object-fit: cover ;
	max-height: 200px;
	margin-left:40PX ;
	margin-top: 15px;
	border:#323042 2px solid;
}

.cabecalho{
	display: flex;
	justify-content: space-between;
}

.perfil{
	display: flex;
}

#descricao{ 
	margin-left: 30px ;
	margin-top: -1px;
}

#descricao h1{
	font-size:36px ;
	font-weight: 700;
}

#descricao h3{
	font-size:24px ;
	font-weight: 400;
	margin-bottom: 10px;
}

.container{
	background: #ECF4FF;
	box-shadow: 6px 6px 6px #323042;
	border-radius: 20px;
	width: 1000px;
	height: 500px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 50px;
	margin-bottom: 100px;
}

.projetos{
	display: flex;
	align-items: justfy;
	margin-top: 22px;
}

.projetos ol{
	flex-direction: column;
	font-weight: bold;
	font-size: 36px;
	list-style-type: none;

}
.projetos  li{
	width:400px;
	font-size: 26px;

}

 .linkSite{
 	color: #333;
 	text-decoration: none;
 	transition: 0.5s;

}
.linkSite:hover{
	color: rgb(220, 164, 80);
	font-size: 30px;
	cursor: pointer;
	transform: scale(1.2)
}

.linkSite:active{
	font-size: 24px;
	color: #333;

}

.tema{
	padding: 8px 18px;
}


input[type="checkbox"] {
  height: 0;
  width: 0;
  visibility: hidden;
}

label {
  cursor: pointer;
  text-indent: -9999px;
  width: 50px;
  height: 30px;
  background: rgb(220, 164, 80);
  display: block;
  border-radius: 100px;
  position: relative;
}

label:after {
  content: "";
  position: absolute;
  top: 5px;
  left: 5px;
  width: 20px;
  height: 20px;
  background: #fff;
  border-radius: 90px;
  transition: 0.2s;
}

input:checked + label {
  background: #424242;
}

input:checked + label:after {
  left: calc(100% - 5px);
  transform: translateX(-100%);
}

label:active:after {
  width: 40px;
}
.dark{
	color: whitesmoke;
	background-image: url(https://media.discordapp.net/attachments/891802712038051874/892925905964531772/fundo2.png?width=894&height=408);
}

.dark .container{
	background-color: #152235;
	box-shadow:6px 6px 6px rgb(8, 11, 32) ;

}

.dark .perfil-foto{
	border: 2px solid  #424242;
}

.dark .linkSite{
	color:#BDBDBD ;
}

.dark .linkSite:hover{
	color: #8699ff;
}



.redes-sociais {
  margin-right: 5px;
  transition: 0.5s;
  max-height: 30px;
}

.redes-sociais:hover {
  transform: scale(1.2);
}

footer{
	margin-top: 25px;
}

.coluna {
	padding-left: 180px;
}

/*Classe para fazer um texto ficar invisivel*/
.ninja{
	color: #ECF4FF;
}
.dark .ninja{
	color:#152235 ;
}


.descLista{
	font-size: 12px;
	font-family: monospace;

}
.modal{
	display: none;
}
.modalAberta{
	background: #152235;
	max-width: 50%;
	max-height: 45%;
	margin: auto;
	margin-top: -40%;
	position: relative;
	border-radius: 25px;
	border: black 1px solid;
	box-shadow: 6px 6px 6px #323042;
}
.conteudoModal{
	
}
.cabecalhoModal{
	display: flex;
	margin-bottom: 1px;
	justify-content: right;
	margin-right: 10px;
	margin-top: 5px;
}
.corpoModal{
	width: 100%;
	margin: auto;
}
.corpoModal h2{
	text-align: center;
	color: white;
}
.introModal{
	max-width: 80%;
	margin: auto;
}
.imgModal{
	max-width: 100%;
	border-radius: 25px;
	border: gray 1px solid;
}
.btnModal{
	display: flex;
	justify-content: center;
	align-items: center;
	}
	.btnFechaModal{
		background: #152235;
		color: white;
		border: none;
		cursor: pointer;
	}

.btnLink{
	width: 90px;
	height: 45px;
	background: white;
	color: black;
	border-radius: 5px;
	border: black 1px solid;
	margin: auto;
	cursor: pointer;
	margin-bottom: 5px;
}
.btnFechaModal:hover{
	color: darkgray;
}
.btnFechaModal:active{
	color: gray;
	font-size: 11px;
}
.btnLink:hover{
	background: darkgray;
}
.btnLink:active{
	font-size: 11px;
	background: gray;
}
.dark .modalAberta{
	background-color: rgb(220, 164, 80);

}
.dark .corpoModal h2{
	text-align: center;
	color: black;
}
.dark .btnFechaModal{
		background:rgb(220, 164, 80);
		color: #424242;
		border: none;
	}

.dark .btnFechaModal:hover{
	color: #262525;
}
.dark .btnFechaModal:active{
	color: black;
	font-size: 11px;
}
